\documentclass{article}%must be present
\usepackage[utf8]{inputenc}

\title{data matrix}
\author{Brian Atandi}
\date{April 2021}

\begin{document}%must be present

%\maketitle

\section{Introduction}

This is my first latex statement












Which is shared with my friends
\section{Assignment 1}
%beginning of R
<<>>=
a<-1+4
print(a)
b<-sample(10:30,15)
b
M<-matrix(b,nrow=5)
M
t(M)
z<-t(M)%*%M
z
cov(M)
det(z)
@
%end of R environment



\end{document}%must be present
